@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}
body {
    height: 100vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(212, 45%, 89%);
    text-align: center;
}
.main__container {
    width: 18rem;
    padding: 1rem;
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
}
.container__img {
    width: 18rem;
    border-radius: 1rem;
}
.container__text {
    margin: 1rem 0.5rem;
}
.container__text h1 {
    padding-bottom: 1rem;
    color: hsl(218, 44%, 22%);
}
.container__text p {
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
}
.attribution {
    white-space: pre;
}
.attribution a:hover {
    font-weight: bolder;
}

@media (min-width: 600px) {
   
}